NEXT_PUBLIC_DISABLE_IMAGE_OPTIMIZATION=true
NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_MEDIA_HOST=http://localhost:8000
PLAYWRIGHT_BASE_URL=http://127.0.0.1:3000
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=development
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_AUTH_TOKEN=
