DJANGO_DEBUG=
DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,api.bloomify.com,192.168.1.100,your-backend-tunnel.trycloudflare.com

DJANGO_CORS_ALLOWED_ORIGINS=http://localhost:3000,https://localhost:3000,http://127.0.0.1:3000,http://192.168.1.100:3000,https://api.bloomify.com,https://your-frontend-tunnel.trycloudflare.com

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

LIQPAY_PUBLIC_KEY=sandbox_your_public_key
LIQPAY_PRIVATE_KEY=sandbox_your_private_key
LIQPAY_CHECKOUT_URL=https://www.liqpay.ua/api/3/checkout
LIQPAY_SERVER_URL=https://your-backend-tunnel.trycloudflare.com/payments/liqpay/callback
LIQPAY_RESULT_URL=https://your-frontend-tunnel.trycloudflare.com/checkout
